<h2>Liste temperatures enregistrées:</h2>

<div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtre" />
  </mat-form-field>
</div>

<div class="container mat-elevation-z8">
  <mat-table [dataSource]="temperaturesSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Temperature</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.value }}°C</mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Heure</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.timestamp }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="worldCity.city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ville</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.worldCity.city }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Aperçu</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <img
          src="https://weather-icons.cleverapps.io/weather/icons/{{
            row.icon
          }}.png"
      /></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="goToDetails(row)"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    [pageSize]="5"
    [length]="temperatures.length"
  ></mat-paginator>
</div>
